
// semantic
.headline {
  font-size: 2em;
  text-align: center;
  padding-top: 200px;

  .bound & {
    display: none;
  }
}

.page {
  opacity: 0;
  .bound & {
    opacity: 1;
    transition: 1s 0.4s;
  }
}


.header {
  width: 100%;
  padding-top: 5px;
  min-height: 32px;
  font-family: @title-font-family;
  max-width: 1440px;
  margin: 0 auto;

  a {
    font-size: 1.1em;
    padding: 4px 0.5em;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);

    &:hover {
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(125, 125, 125, 0.5);
    }
  }
}

.logo {
  display: inline-block;
  max-width: 200px;
  progress {
    position: absolute;
    width: 200px;
  }
}


.main {
  min-height: 60%;
  min-height: calc(~"100vh - 180px");
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 1em 45px 1em;
}

.main-body {
  padding: 15px 0.5em;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-animated {
  animation: 0.4s ease-out mainAnimation;
  transform-origin: left center;
  perspective: 100px;
  perspective-origin: 50% 50%;
}

@keyframes mainAnimation {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}


.footer {
  background-color: rgba(244, 244, 244, 0.5);
	padding: 1.62em;
  border-top: 1px solid gray;
  color: #844;

  > div {
    max-width: 1440px;
    margin: 0 auto;
  }

  h4 {
    color: #800;
    border-bottom: 1px solid rgb(194, 130, 20);
    padding: 0;
    margin: 0 3em 0 0;
  }

  .links {
    padding: 0px;
    line-height: 1.45em;
    list-style: none;
  }
}


.docs-list {
	ul {
		columns: 2;
		column-rule: 1px dotted #CCC;
	}
	li {
		list-style: none;
		border-bottom: 1px dotted #CCC;
		padding-bottom: 3px;
		margin-bottom: 3px;
		break-inside: avoid-column;
	}
}


.error {
  padding: 1em;
  border: 1px solid rgb(113, 11, 29);
  color: rgb(113, 11, 29);
  border-radius: 12px;
}

.trackjs-ack {
  text-align: center;
  font-style: italic;
  a {
    font-style: normal;
  }
}

.cache-update {
  position: fixed;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
  background-color: #444;
  color: white;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  z-index: 1000;
  &:hover {
    opacity: 1;
  }
}


.html-header {}


.javascript-header {}


.example-header {
  background-color: #eee;
  border: 4px double #bbb;
  display: inline-block;
  margin: 0px;
  padding: 3px 12px;
  border-radius: 12px;
  margin: 15px 0px 0px 50%;
  transform: translateX(-50%);
}

.example {
  padding: 3em;
  background-color: #eee;
  min-height: 50px;
  border-radius: 10px;
  margin: -19px auto 10px auto;
  border: 6px double #bbb;
}

.example-centered {
  text-align: center;
}

.example-loading-indicator {
  display: block;
  text-align: center;
  color: rgb(255, 78, 78);
  margin: 0.5em;
}

.plugin-extras {
  color: #aaa;
  font-size: 0.95em;
}


.plugin-repo {
  text-align: right;
  line-height: 1.25em;
  vertical-align: top;
}


.plugin-owner {
  display: block;
  font-style: italic;
  font-size: 0.9em;
  text-align: right;
}


.browser-version {
  color: #804040;
  font-style: italic;
  font-size: 16px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}


.button-refresh {
  position: fixed;
  top: 10%;
  left: 0;
  margin: 10px 5%;
  width: 90%;
  z-index: 25000;
  padding: 12px;
  color: rgb(236, 216, 40);
  background: rgba(101, 53, 10, 0.8);
  border: 1px solid rgb(255, 74, 0);
  box-shadow: 0px 0px 15px rgba(88, 59, 32, 0.5);
  border-radius: 25px;
  &:hover {
    background: rgb(101, 53, 10);
  }
}

.button-learn {
  display: block;
  margin: 0px 1em;
  text-align: center;
  background-color: rgb(223, 117, 20);
  color: rgb(236, 216, 40);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border: 1px solid rgb(181, 95, 15);

  &:hover {
    color: rgb(236, 216, 40);
  }

  i {
    float: left;
  }

  small {
    display: block;
  }

  a[href*="//"]&:after {
    display: none;
  }
}


.button-literature {
  display: block;
  margin: 0px 1em;
  text-align: center;
  background-color: rgb(255, 136, 27);
  color: rgb(236, 216, 40);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border: 1px solid rgb(217, 114, 18);

  &:hover {
    color: rgb(236, 216, 40);
  }

  i {
    float: left;
  }

  small {
    display: block;
  }
}


.plugin-search {
  width: 60%;
  margin: 12px auto;
  padding: 6px 0.62em;
  font-size: 1.25em;
  display: block;
}


.search {
  margin-top: 18px;
  width: 100%;
  input[type=search] {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    width: 85%;
    transform: translateX(7.5%);

    &:focus {
      color: rgb(242, 72, 8);
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.book {
  padding: 10px;

  .thumb {
    float: left;
    margin: 0px 0.5em 12px 0px;

    text-align: center;
  }

  img {
    display: block;
  }

  .title {
    display: block;
    font-weight: bold;
  }

  .subtitle {
    display: block;
    font-style: italic;
  }

  .author {
    display: block;
    padding-top: 1ex;
    font-size: 0.9em;
    font-size: 0.9rem;
  }

  .pubdate {
    color: #C88;
    padding-top: 1ex;
    float: right;
    display: inline;
    font-size: 0.9em;
    font-size: 0.9rem;
  }
}



// Amending 3rd party styles.
div.ace_editor {
  font: @monospace-font;
  height: 200px;
  border-radius: 6px;
}

.pure-table {
	width: 100%;
}
