<template id='live-example'>
  <div class='pure-g'>
    <div class='pure-u-1 pure-u-sm-5-6 text-center'>
      <em>
        This is a “living” example of Knockout. You can modify
        the code below and the result will change accordingly. You can
        also start a new jsFiddle or CodePen with the example.
      </em>
    </div>
  </div>
  <div class='pure-g'>
    <div class='pure-u-1 pure-u-xl-1-2'>
      <h3 class='javascript-header'> Javascript </h3>
      <div data-bind='edit-js: example'>
        <i class='fa fa-spin fa-spinner fa-3x example-loading-indicator'></i>
      </div>
    </div>
    <div class='pure-u-1 pure-u-xl-1-2'>
      <h3 class='html-header'> HTML </h3>
      <div data-bind='edit-html: example'>
        <i class='fa fa-spin fa-spinner fa-3x example-loading-indicator'></i>
      </div>
    </div>
  </div>
  <h3 class='example-header'>
    Result
  </h3>
  <div class='result'>
    <div data-bind='result: example'>
      <i class='fa fa-spin fa-spinner fa-3x example-loading-indicator'></i>
    </div>
  </div>
  <p>
    &nbsp;
    <span class='pull-right'>
      <a href='#' data-bind='click: openFiddle'>
        jsFiddle<sup><i class='fa fa-jsfiddle'></i></sup>
      </a>
      &ensp; | &ensp;
      <a href='#' data-bind='click: openPen'>
        CodePen<sup><i class='fa fa-codepen'></i></sup>
      </a>
      &nbsp;
    </span>
  </p>
</template>
